
@{
    ViewBag.Title = "AgregarDeposito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Datos del deposito</div>
                <hr />
                <form>
                    <div class="panel panel-default">
                        
                        <div class="panel-body pb-0">
                            
                            <div class="form-horizontal group-border stripped">
                                <!--Fecha-->
                                <div class="form-group">
                                    <label for="">Fecha</label>
                                    <div class="col-lg-7 col-md-6">
                                        <div class="input-group date" id="txtFecha1">
                                            <input type="text" class="form-control" id="txtFecha" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!--Importe-->
                                <div class="form-group">
                                    <label for="">Importe</label>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Importe">
                                        </div>
                                    </div>
                                </div>

                                <!--Banco-->
                                <div class="form-group">
                                    <label for="">Banco</label>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="input-group">
                                            <select class="form-control" id="cboBanco">
                                                <option>BANCOMER</option>
                                                <option>BANAMEX</option>
                                                <option>SANTANDER</option>
                                                <option>BANORTE</option>
                                                <option>SANTANDER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!--Descripcion-->
                                <div class="form-group">
                                    <label for="">Descripción</label>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-info"></i></span>
                                            <input type="text" class="form-control" id="txtDescripcion" placeholder="Descripción">
                                        </div>
                                    </div>
                                </div>

                                <!--File-->
                                <div class="form-group">
                                    <label for="">Ficha de depósito</label>
                                    <div class="col-lg-10 col-md-9">
                                        <div class="input-group">
                                            <input type="file" class="form-control" id="customFiles" placeholder="Descripción">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button class="btn btn-light px-5" onclick="guardarDeposito()">Guardar cambios</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                Últimos depósitos
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-borderless">
                    <thead>
                        <tr>
                            <th>FECHA INGRESO</th>
                            <th>$ IMPORTE</th>
                            <th>BANCO</th>
                            <th>DESCRIPCIÓN</th>
                            <th>COMPROBANTE</th>

                        </tr>
                    </thead>
                    <tbody id="tblDepositos"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#txtFecha1').datetimepicker({
            format: 'L'
        });

        var urlSave = '@Url.Action("GetUltimosDepositos", "Depositos")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ parametro: "" }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var row = "";
                $.each(data, function (index, item) {
                    var importe = new Intl.NumberFormat("en-IN").format(item.Importe);
                    row += "<tr>";
                    row += "<td>" + item.SFechaIngreso + "</td>"
                    row += "<td>$" + importe + "</td>"
                    row += "<td>" + item.Banco + "</td>"
                    row += "<td>" + item.Descripcion + "</td>"
                    row += "<td><a href=\"" + item.UrlArchivo + "\">Ver</a></td>"
                    row += "</tr>";
                });

                $("#tblDepositos").append(row);
            },
            error: function (result) {
                alert("Error!");
            }
        });
    });

    function guardarDeposito() {
        var _monto = $("#inlineFormInputGroup").val();
        var _fecha = $("#txtFecha").val();
        var _banco = $("#cboBanco").val();
        var _descripcion = $("#txtDescripcion").val();

        var fd = new FormData();

        fd.append('file', $("#customFiles")[0].files[0]);
        fd.append('monto', _monto);
        fd.append('fecha', _fecha);
        fd.append('banco', _banco);
        fd.append('descripcion', _descripcion);

        var urlSave = '@Url.Action("GuardarDeposito", "Depositos")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: fd,
            contentType: false,
            processData: false,
            success: function (data) {
                alert("Deposito agregado correctamente");
                var url = '@Url.Action("AgregarDeposito", "Depositos")';
                window.location.href = url;
            },
            error: function (result) {
                alert("Woops, se produjo un error");
            }
        });
    }
</script>