
@{
    ViewBag.Title = "AgregarVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ventas</h4>
                <hr />
                <div class="panel-body pb-0">
                    <div class="form-horizontal group-border stripped">
                        @*<div class="form-group">
                            <label class="col-lg-1 col-md-1 control-label" for="">Fecha</label>
                            <div class="col-lg-10 col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="txtFecha" type="text" class="form-control" placeholder="dd-mm-yyyy">
                                </div>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <label class="col-lg-1 col-md-1 control-label" for="">Fecha</label>
                            <div class="col-lg-7 col-md-6">
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-1 col-md-1 control-label">Articulo</label>
                            <div class="col-lg-7 col-md-6">
                                <select id="cboArticulos" class="form-control modalColor" style="width:90%">
                                    @{
                                        foreach (SelectListItem articulo in ((List<SelectListItem>)ViewBag.Articulos))
                                        {
                                            <option id="@articulo.Value" value="@articulo.Value">@articulo.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-1 col-md-1 control-label">Cantidad</label>
                            <div class="col-lg-7 col-md-6">
                                <input type="number" class="form-control modalColor" style="width:90%" id="txtCantidad" />
                            </div>
                            
                        </div>

                        @*<div class="form-group">
                            <label class="col-lg-1 col-md-1 control-label" for="">Monto</label>
                            <div class="col-lg-10 col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Monto">
                                </div>
                            </div>
                        </div>*@

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-success" onclick="guardarVenta()">Guardar cambios</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'L'
        });
    });

    function guardarVenta() {

        //var _monto = $("#inlineFormInputGroup").val();
        //var _fecha = $("#datetimepicker1").val();
        var _fecha = $("#datetimepicker1").data("date");
        var _cantidad = $("#txtCantidad").val();
        var _idArticulo = $("#cboArticulos").val();
        debugger;
        var urlSave = '@Url.Action("GuardarVenta", "Ventas")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ cantidad: _cantidad, fecha: _fecha, idArticulo: _idArticulo }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert("Venta agregada correctamente");
                $("#inlineFormInputGroup").val("0.0");
            },
            error: function (result) {
                alert("Woops, se produjo un error");
            }
        });
    }
</script>