<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    </configSections>
  <connectionStrings>
    <!--Conexión a Mahle-->
    <add name="EntitiesERP" connectionString="metadata=res://*/ServiceObject.ADOModel.csdl|res://*/ServiceObject.ADOModel.ssdl|res://*/ServiceObject.ADOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mxagsqlsrv01;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Conexión a Local-->
    <!--<add name="EntitiesERP" connectionString="metadata=res://*/ServiceObject.ADOModel.csdl|res://*/ServiceObject.ADOModel.ssdl|res://*/ServiceObject.ADOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-4UN72CN9;initial catalog=ERP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Conexión a Local Caro-->
    <!--<add name="EntitiesERP" connectionString="metadata=res://*/ServiceObject.ADOModel.csdl|res://*/ServiceObject.ADOModel.ssdl|res://*/ServiceObject.ADOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAB-COMPUTOMP;initial catalog=ERP;user id=sa;password=e.T.5647d;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Conexión a producción-->
    <!--<add name="EntitiesERP" connectionString="metadata=res://*/ServiceObject.ADOModel.csdl|res://*/ServiceObject.ADOModel.ssdl|res://*/ServiceObject.ADOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=74.208.247.212;initial catalog=ERP;user id=srerp2018;password=GtlpUys.1676;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Conexión a Mahle-->
    <add key="CadenaConexion" value="data source=mxagsqlsrv01;initial catalog=RGP2-PBA;user id=shruser;password=sOHR2011" />

    <!--Cadena de conexión local-->
    <!--<add key="CadenaConexion" value="data source=LAPTOP-4UN72CN9;initial catalog=ERP; Integrated Security=True" />-->

    <!--Cadena de conexión local Caro-->
    <!--<add key="CadenaConexion" value="data source=LAB-COMPUTOMP;initial catalog=ERP;user id=sa;password=e.T.5647d" />-->

    <!--Cadena de conexión a producción-->
    <!--<add key="CadenaConexion" value="data source=74.208.247.212;initial catalog=ERP;user id=srerp2018;password=GtlpUys.1676" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
