@model IEnumerable<Model.DO_Articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Listado de artículos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>

<div class="form-horizontal">
    <div class="form-group">
        <select id="cboCategorias" class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width: 85%">
            
        </select>
    </div>
</div>

<div class="card-header">
    <i class="fa fa-table"></i> Artículos
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th># de Serie</th>
                    <th>Stock mínimo</th>
                    <th>Stock máximo</th>
                    <th>Categoría</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th># de Serie</th>
                    <th>Stock mínimo</th>
                    <th>Stock máximo</th>
                    <th>Categoría</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </tfoot>
            <tbody id="myTable">
                
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var urlSave = '@Url.Action("GetAllArticulos", "Articulo")';
    $("#dataTable").DataTable();

    $(function () {
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ parametro: "" }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                llenarTabla(data);
            },
            error: function (result) {
                alert("Error!");
            }
        });

        var urlSaveCategoria = '@Url.Action("GetAllCategoria", "Articulo")';
        $.ajax({
            type: "POST",
            url: urlSaveCategoria,
            data: JSON.stringify({ parametro: "" }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (index, item) {
                    var option = "<option text='" + item.NombreCategoria + "' value='" + item.idCategoriaArticulo + "'>" + item.NombreCategoria + "</opction>";

                    $("#cboCategorias").append(option);
                });
            },
            error: function (result) {
                alert("Error!");
            }
        });
    });

    $('.js-example-basic-multiple').select2({
        placeholder: 'Selecciona una categoría',
        width: 'resolve'
    });



    function llenarTabla(data) {
        //$("#dataTable tbody tr").remove();
        var table = $('#dataTable').DataTable();

        table
            .clear()
            .draw();

        $.each(data, function (index, item) {
            $("#dataTable").dataTable().fnAddData([
                item.Codigo,
                item.Descripcion,
                item.NumeroDeSerie,
                item.stockMin,
                item.stockMax,
                item.Categoria.NombreCategoria,
                item.IsConsumible,
                "<a href='Articulo/Details?id=" + item.idArticulo + "'>Detalles</a> | <a href='Articulo/Edit?id=" + item.idArticulo + "'>Editar</a> | <a href='Articulo/Delete?id=" + item.idArticulo + "'>Eliminar</a>"
            ]);
        });
    }

    $('#cboCategorias').on('change', function (e) {
        var foo = $(this).val();

        var urlSave = '@Url.Action("FiltarCategorias", "Articulo")';

        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ categorias: foo }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                llenarTabla(data);
            },
            error: function (result) {
                alert("Error!");
            }
        });
    });
</script>



