@model Model.DO_ValeSalidaAlmacen

@{
    ViewBag.Title = "Generar vale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<div id="valediv">
    <div class="form-group">
        <b>Almacen:</b>
        <label>@Html.DisplayFor(model => model.Almacen)</label>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <b>No. Nomina solicitó</b>
            <label>@Html.DisplayFor(model => model.idPersonaSolicito)</label>
        </div>

        <div class="form-group">
            <b>Solicitó:</b>
            <label>@Html.DisplayFor(model => model.NombrePersonaSolicito)</label>

        </div>

    </form>
</div>
<div>
    <input type="button" class="btn btn-success" value="Generar Vale" onclick="generarVale()" />
</div>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

<script type="text/javascript">

    function generarVale() {
        var doc = new jsPDF();
        doc.fromHTML($("#valediv").get(0), 20, 20, {
            'width':500});
         doc.save("vale.pdf");
     }
</script>
