@model Model.DO_ValeSalidaAlmacen

@{
    ViewBag.Title = "Generar vale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<div id="valediv">

</div>
<div>
    <input type="button" class="btn btn-success" value="Generar Vale" onclick="generarVale()" />
</div>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="@Url.Content("~/Scripts/html2canvas.js")"></script>
<script type="text/javascript">

    function generarVale() {
        html2canvas(document.querySelector("#valediv")).then(canvas => {
            document.body.appendChild(canvas);
            //saveImage();     //or whatever you want to execute
            var img = canvas.toDataURL("image/png");

            var doc = new jsPDF();
            doc.addImage(img, 'JPEG', 20, 20);
            doc.save('valeSalida.pdf');
            
        });
    }
</script>
