
@{
    ViewBag.Title = "ActualizarContrasena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Cambiar contraseña</div>
            <div class="card-body">
                    <div class="form-group">
                        <b>Contraseña anterior</b>
                        <input type="password" id="txtContrasenaAnterior" class="form-control" placeholder="Contraseña anterior" />
                    </div>

                    <div class="form-group">
                        <b>Nueva contraseña</b>
                        <input type="password" id="txtNuevaContraseña" class="form-control" placeholder="Nueva contraseña" />
                    </div>

                    <div class="form-group">
                        <b>Repetir nueva contraseña</b>
                        <input type="password" id="txtRepetirNuevaContraseña" class="form-control" placeholder="Repetir nueva contraseña" />
                    </div>

                    <button class="btn btn-primary btn-block" onclick="actualizarContrasena()">Actualizar contraseña</button>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">
    function actualizarContrasena() {
        if (validarNuevaContrasena()) {
            var newPass = $("#txtNuevaContraseña").val();
            var contrasenaAnterior = $("#txtContrasenaAnterior").val();
            var urlSave = '@Url.Action("GuardarNuevaContrasena", "Usuario")';
            $.ajax({
                type: "POST",
                url: urlSave,
                data: JSON.stringify({ contrasenaAnterior: contrasenaAnterior, nuevaContrasena : newPass }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert(data.Result);
                },
                error: function (result) {
                    alert("Error al actualizar la contraseña, por favor intente mas tarde.");
                }
            });
        }
        else {
            alert("Las contraseñas no son iguales");
        }
    }

    function validarNuevaContrasena() {

        var newPass = $("#txtNuevaContraseña").val();
        var repetirPass = $("#txtRepetirNuevaContraseña").val();

        if (newPass == "" || repetirPass == "") {
            return false;
        }

        if (newPass != repetirPass) {
            return false;
        }

        
        return true;
    }

    
</script>

